body {
    background-color: rgb(255, 255, 255);
}

h2 {
    position: relative;
    top: -15px;
    text-align: center;
}


p {
    text-align: center;
}

.head {
    color: rgb(39, 221, 173);
    text-align: center;
    height: auto;
}

.card1 {
    position: relative;
    text-align: center;
    margin: 7px;
    background-color: aqua;
}

.cardh {
    color: blue;
   
}

.count {
    color: rgb(40, 198, 45);
    font-size: 14px;
}

.cbody {
    margin: 15px;
}

.bk {
    background-color: cornsilk;
}

.abc {
    background-color: rgb(243, 239, 233);
    height: auto;
}

.appbar {
    height: 55px;
}